* {
  margin: 0;
  padding: 0;
}

.container {
  width:750px;
  margin: auto;
}

html, body {
  height: 100%;
}

h1, h2, h3 {
  font-family: "museo-sans",arial,sans-serif;
  color: #333;
  font-weight: 300;
  letter-spacing: -1px;
}

h1 {
  font-size: 38px;
  margin-bottom: 10px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}

body {
  background-color: #FBFBFB;
  color: #333;
  font-family: "museo-sans", Helvetica,Arial,sans-serif;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  font-weight: 300
}

code {
  font-size: 15px;
  color: #530000;
  padding: 3px 4px;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
}

a {
  color: #530000;
  text-decoration: none;
}

blockquote {
  padding-left: 20px;
  font-style: italic;
  border-left: 1px solid #530000;
}

.header {
  position: relative;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 15px 0 0 15px;
  border-bottom: 1px solid #eee;
  height: 50px;
  margin-bottom: 40px;
  background-color: #FFF;
  box-shadow: #ccc 0 0 5px;
  font-size: 29px;
}

.header a img.avatar {
  float: left;
  border-radius: 5px;
}

.header .meta {
  float: right;
  margin: 3px 10px 0 0;
}

.header .meta a {
  margin-right: 20px;
  font-size: 15px;
}
.header .meta ul {
  list-style: none;
}
.header .meta li {
  display: inline-block;
  margin: 0 3px;
  font-size: 17px;
}
.header .meta li::after {
  content: ' | ';
}
.header .meta li:last-child::after {
  content: '';
}
.header .name {
  display: inline-block;
  float: left;
}
.header .name a {
  float: left;
  margin: 5px 0 0 0;
  color: #000000;
  font-weight: 400;
  font-size: 29px;
  letter-spacing: -1px;
  font-family: 'source-sans-pro', 'Arial', serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.header .date {
}

#neil > span {
  font-size:28px;
}

.bio {
  margin: 20px 0 25px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}
.bio p {
  margin: 20px 0;
}
.bio .intro {
  font-size: 2em;
}
.listing h3 {
  margin: 20px 0;
}

.content, article {
  margin: 0 15px;
}

p.note {
  background: #F0F5F9;
  border: 1px solid #D0DBE6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #777;
  margin: 30px 15px;
  padding: 10px 20px 10px 20px;
  letter-spacing: normal;
  line-height: 1.5em;
  font-size: 14px;
}

article p {
  margin-bottom: 20px;
  line-height: 1.7em;
}

article header p {
  font-size: 90%;
  color: #aaa;
}

article h2, article h3, article h4 {
  margin-bottom: 20px;
}

article ul, article ol {
  margin: 0 0 20px 20px;
}

article > h1 {
  display:none;
}

article .highlight {
  padding: 10px 10px 10px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.highlight {
  background: #F6F6F6;
}

.highlight pre {
  word-wrap: break-word;
  max-width: 600px;
}

.highlight code, .highlight code pre {
  border: 0;
  padding: 0
}

.content .listing li {
  list-style: none;
}

.content .listing li span {
  float: right;
  font-size: 90%;
}

#related {
  font-size: 90%;
  margin-top: 20px;
}

#related ul {
  margin: 20px 0 0 20px;
}

footer {
  font-size: 12px;
  margin: 20px 0;
  padding: 0 0 20px 15px;
}
