* {
  margin: 0;
  padding: 0;
}

.container {
  width:900px;
  margin: auto;
}

html, body {
  height: 100%;
}

body {
  color: #000;
  font-family: Georgia, serif;
  font-weight: 400;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

code {
  font-size: 1.1em;
  color: #530000;
}

a {
  color: #a00;
  text-decoration: none;
}

.header {
  position: relative;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 15px 0 0 15px;
  background-color: white;
}

.header {
  height: 80px;
}

.header a img.avatar {
  float: left;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #CCC;
}

.header .meta {
  padding-left: 93px
}

.header .meta a {
  margin-right: 20px;
  font-weight: 500;
}
.header .name {
  display: inline-block;
}
.header .name a {
  float: left;
  margin: 5px 0 0 15px;
  color: #000000;
  font-size: 13px;
  font-weight: 100;
  font-size: 30px;
  font-family: Georgia, serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.bio {
  margin: 20px 0 70px 0;
}
.bio p {
  margin: 20px 0;
}
.bio .intro {
  font-size: 2em;
}
.listing h3 {
  margin: 20px 0;
}

.content, article {
  margin-left: 107px;
  width: 650px;
}

article p {
  margin-bottom: 20px
}

article header p {
  font-size: 90%;
  color: #aaa;
}

article h2, article h3, article h4 {
  margin-bottom: 20px;
}

article ul {
  margin: 0 0 20px 20px;
}

article > h1 {
  display:none;
}

article .highlight {
  margin-bottom: 20px;
  border: 1px dotted #AAA;
  padding: 20px;
}

.highlight pre {
  word-wrap: break-word;
  max-width: 600px;
}
.content .listing li {
  list-style: none;
}

.content .listing li span {
  float: right;
  font-size: 90%;
}

#related {
  font-size: 90%;
  margin-top: 20px;
}

#related ul {
  margin: 20px 0 0 20px;
}

footer {
  font-size: 12px;
  margin: 20px 0;
  padding: 0 0 20px 15px;
}
