<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Neil Middleton" />
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="alternate" type="application/rss+xml" title="Neil Middleton" href="http://feeds.feedburner.com/neil_middleton" />

   <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-54738-9']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>

  <section class="header">
    <a href="/">
      <img src="http://www.gravatar.com/avatar/f8b75a99bfbe0583cc9b6ca57c899031.jpg?s=75" height="75" width="75" class="avatar" />
    </a>

    <section class="name">
      <a href="/">
        <span id="neil">@neilmiddleton</span>
      </a>
    </section>

    <section class="meta">
      <a href="https://github.com/neilmiddleton" id="github">
        Github
      </a>
      <a href="https://twitter.com/neilmiddleton" id="twitter">
        Twitter
      </a>
    </section>
  </section>

  {{ content }}

  <footer>
    neil {at} neilmiddleton {dot} com
  </footer>
</body>
</html>
